# Virtual IP
VIP="10.80.11.140"
VIP_INTERFACE="ens160"

# HAProxy nodes
HAPROXY_MASTER="10.80.11.141"
HAPROXY_BACKUP="10.80.11.142"

# Aptly nodes
APTLY_NODE1="10.80.11.143"
APTLY_NODE2="10.80.11.144"

# Proxy nodes
PROXY_NODE1="10.80.11.145"
PROXY_NODE2="10.80.11.146"

# Domain
DOMAIN="ubuntu.yourdomain.com"
